<div>
    <h3>Title Case</h3>
    <titleCase></titleCase>
</div><br />

<div>
    <h3>Favorite Component</h3>
    <favorite [isFavorite]="post.isFavorite" [text]="post.text" (change)="onFavoriteChanged($event)"></favorite>
</div><br />

<div>
    <h3>Panel Component</h3>
    <bootstrap-panel>
        <ng-container class="heading">Heading</ng-container>
        <ng-container class="body">
            <h1>Body</h1>
            <p>Some Content...</p>
        </ng-container>
    </bootstrap-panel>
</div>


<div>
    <h3>Like Component</h3>
    <like [isSelected]="tweet.isSelected" [likeCount]="tweet.likeCount"></like>
</div>

<div>
    <h3>Directives</h3>
    <directive-examples></directive-examples>
</div>

<div>
    <h3>Zippy Component</h3>
    <zippy></zippy>
</div>


